<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  
  
  

    







 
	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>com.pfe.form.Download</servlet-class>
		<init-param>
			<param-name>chemin</param-name>
			<param-value>/fichiers/</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/fichiers/*</url-pattern>
	</servlet-mapping>
  
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>com.pfe.form.Upload</servlet-class>
		<init-param>
			<param-name>chemin</param-name>
			<param-value>/fichiers/</param-value>
		</init-param>
		<multipart-config>
			<location>c:/fichiers</location>
			<max-file-size>10485760</max-file-size> <!-- 10 Mo -->
			<max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
			<file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
  
  
  
  
  
  
  
  
  
  
  
  
  
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.pfe.servlets.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/bonjour</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profil</servlet-name>
    <servlet-class>com.pfe.servlets.Profil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profil</servlet-name>
    <url-pattern>/profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FormationsPersonnelles</servlet-name>
    <servlet-class>com.pfe.servlets.FormationsPersonnelles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormationsPersonnelles</servlet-name>
    <url-pattern>/formationPersonnelle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoctorantsEncadres</servlet-name>
    <servlet-class>com.pfe.servlets.DoctorantsEncadres</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorantsEncadres</servlet-name>
    <url-pattern>/doctorantEncadre</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Messageries</servlet-name>
    <servlet-class>com.pfe.servlets.Messageries</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Messageries</servlet-name>
    <url-pattern>/messagerie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Bilans</servlet-name>
    <servlet-class>com.pfe.servlets.Bilans</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bilans</servlet-name>
    <url-pattern>/bilan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Evenements</servlet-name>
    <servlet-class>com.pfe.servlets.Evenements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Evenements</servlet-name>
    <url-pattern>/evenement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Equipes</servlet-name>
    <servlet-class>com.pfe.servlets.Equipes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Equipes</servlet-name>
    <url-pattern>/equipe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MembresLabo</servlet-name>
    <servlet-class>com.pfe.servlets.MembresLabo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembresLabo</servlet-name>
    <url-pattern>/membreLabo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NotificationsDirecteur</servlet-name>
    <servlet-class>com.pfe.servlets.NotificationsDirecteur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationsDirecteur</servlet-name>
    <url-pattern>/notificationDirecteur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Notifications</servlet-name>
    <servlet-class>com.pfe.servlets.Notifications</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Notifications</servlet-name>
    <url-pattern>/notification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Theses</servlet-name>
    <servlet-class>com.pfe.servlets.Theses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Theses</servlet-name>
    <url-pattern>/these</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PartenariatsNonfinances</servlet-name>
    <servlet-class>com.pfe.servlets.PartenariatsNonfinances</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartenariatsNonfinances</servlet-name>
    <url-pattern>/partenariatNonfinance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ouvrages</servlet-name>
    <servlet-class>com.pfe.servlets.Ouvrages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ouvrages</servlet-name>
    <url-pattern>/ouvrage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreativitesLitteraires</servlet-name>
    <servlet-class>com.pfe.servlets.CreativitesLitteraires</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreativitesLitteraires</servlet-name>
    <url-pattern>/creativiteLitteraire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistinctionsPrix</servlet-name>
    <servlet-class>com.pfe.servlets.DistinctionsPrix</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistinctionsPrix</servlet-name>
    <url-pattern>/distinctionPrix</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProjetsContrats</servlet-name>
    <servlet-class>com.pfe.servlets.ProjetsContrats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjetsContrats</servlet-name>
    <url-pattern>/projetContratFinance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Journals</servlet-name>
    <servlet-class>com.pfe.servlets.Journals</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Journals</servlet-name>
    <url-pattern>/journal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Manifestations</servlet-name>
    <servlet-class>com.pfe.servlets.Manifestations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manifestations</servlet-name>
    <url-pattern>/manifistation</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>BrevetsDroits</servlet-name>
    <servlet-class>com.pfe.servlets.BrevetsDroits</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrevetsDroits</servlet-name>
    <url-pattern>/brevetDroit</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
  
  <servlet>
    <servlet-name>Conferences</servlet-name>
    <servlet-class>com.pfe.servlets.Conferences</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Conferences</servlet-name>
    <url-pattern>/conference</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>com.pfe.servlets.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>com.pfe.servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>